{% extends 'base.html.twig' %}

{% block title %}Digital Art{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('/style/Gallery.css') }}">
{% endblock %}
{% block body_indentation %}
    <div class="inc-bg-black inc-nudge-l1">
        <h1 class="inc-text-light">Digital Art</h1>
        <div class="d-flex flex-row flex-wrap">
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/blue ringed planet and tapering tower 36x11.75 horiz.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/blue ringed planet and tapering tower 36x11.75 horiz.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/cexplosion.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/cexplosion.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/Cranes, color boost, palette knifre.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/Cranes, color boost, palette knifre.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/Fall leaves foggy morning hueboost palette knife then daubs.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/Fall leaves foggy morning hueboost palette knife then daubs.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/Fishermen paint daubs color boost.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/Fishermen paint daubs color boost.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/Four planets,blue white nebula,stars, mountains family -  36x11.75poster horix.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/Four planets,blue white nebula,stars, mountains family -  36x11.75poster horix.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/Four planets,blue white nebula,stars.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/Four planets,blue white nebula,stars.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/Four planets,red white nebula,stars, mountains family -  36x11.75 poster vert.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/Four planets,red white nebula,stars, mountains family -  36x11.75 poster vert.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/Grand Canyon.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/Grand Canyon.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/Landscape with obelisks and ringed planet.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/Landscape with obelisks and ringed planet.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/Myrtle Beach Morning stamp.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/Myrtle Beach Morning stamp.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/Nevada Highway with snow modified 2.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/Nevada Highway with snow modified 2.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/One planet three moons, four stars.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/One planet three moons, four stars.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/pyramids with man observing.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/pyramids with man observing.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/red planet on starfield over lake royale lower quality.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/red planet on starfield over lake royale lower quality.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/ringed planet over ocean  36x11.75 horiz.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/ringed planet over ocean  36x11.75 horiz.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/ringed planet over ocean  36x11.75 vertical.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/ringed planet over ocean  36x11.75 vertical.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/ringed planet over ocean Red and Green version 36x11.75 vertical.jpg')  }}">
                    <img src="{{ asset('/assets/art/digital/ringed planet over ocean Red and Green version 36x11.75 vertical.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
            <div class="piece-of-art">
                <a href="{{ asset('/assets/art/digital/Stonehenge with white nebula lq.jpg') }}">
                    <img src="{{ asset('/assets/art/digital/Stonehenge with white nebula lq.jpg') }}" class="img-fluid">
                    <p class="art-caption"></p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
