{% extends 'base.html.twig' %}

{% block title %}Digital Art{% endblock %}

{% block body %}
    <h1>Digital Art</h1>
    <div class="d-flex flex-row flex-wrap">
        <img src="{{ asset('/assets/art/digital/blue ringed planet and tapering tower 36x11.75 horiz.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/cexplosion.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/Cranes, color boost, palette knifre.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/Fall leaves foggy morning hueboost palette knife then daubs.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/Fishermen paint daubs color boost.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/Four planets,blue white nebula,stars, mountains family -  36x11.75poster horix.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/Four planets,blue white nebula,stars.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/Four planets,red white nebula,stars, mountains family -  36x11.75 poster vert.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/Grand Canyon.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/Landscape with obelisks and ringed planet.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/Myrtle Beach Morning stamp.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/Nevada Highway with snow modified 2.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/One planet three moons, four stars.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/pyramids with man observing.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/red planet on starfield over lake royale lower quality.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/ringed planet over ocean  36x11.75 horiz.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/ringed planet over ocean  36x11.75 vertical.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/ringed planet over ocean Red and Green version 36x11.75 vertical.jpg') }}" class="img-fluid">
        <img src="{{ asset('/assets/art/digital/Stonehenge with white nebula lq.jpg') }}" class="img-fluid">
    </div>
{% endblock %}
