{% extends 'base.html.twig' %}

{% block title %}Art{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/style/Gallery.css') }}">
{% endblock %}
{% block body %}
{#    <div class="inc-bg-black inc-nudge-l1">#}
        <h1 class="inc-text-light ml-4">Art</h1>
        <div class="d-flex flex-row flex-wrap artwork">
            <div class="piece-of-art" data-count="0">
                    <img src="{{ asset('/assets/art/physical/art hands - touched up.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">A sculpted hand, painting a painted hand, which is drawing a drawn hand</p>
            </div>
            <div class="piece-of-art" data-count="1">
                    <img src="{{ asset('/assets/art/physical/BG_airbrushmeteorcropped.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">"Meteor"</p>
            </div>
            <div class="piece-of-art" data-count="2">
                    <img src="{{ asset('/assets/art/physical/BG_Arck.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">"Arck"</p>
            </div>
            <div class="piece-of-art" data-count="3">
                    <img src="{{ asset('/assets/art/physical/BG_GirlinaRedSkirt.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption"></p>
            </div>
            <div class="piece-of-art" data-count="4">
                    <img src="{{ asset('/assets/art/physical/BG_Goddoesnotcastdice.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">"God does not cast dice with the Universe".- Based tongue in cheek on Einstein's remark.</p>
            </div>
            <div class="piece-of-art" data-count="5">
                    <img src="{{ asset('/assets/art/physical/BG_MeteorStrike.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">"Meteor"</p>
            </div>
            <div class="piece-of-art" data-count="6">
                    <img src="{{ asset('/assets/art/physical/BG_Mystic.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">"Mystic"</p>
            </div>
            <div class="piece-of-art" data-count="7">
                    <img src="{{ asset('/assets/art/physical/BG_Outsideitssnowing.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">"Outside it's Snowing" - One of my surgeon friends tries to save a woman's arm while it is snowing outside.</p>
            </div>
            <div class="piece-of-art" data-count="8">
                    <img src="{{ asset('/assets/art/physical/BG_PlacidSea.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">"Placid Sea"</p>
            </div>
            <div class="piece-of-art" data-count="9">
                    <img src="{{ asset('/assets/art/physical/BG_Stickball.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">"Stickball"</p>
            </div>
            <div class="piece-of-art" data-count="10">
                    <img src="{{ asset('/assets/art/physical/BG_TakeOff.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">"Take Off" - a sculpture inspired by Brancusi's "Bird in Flight"</p>
            </div>
            <div class="piece-of-art" data-count="11">
                    <img src="{{ asset('/assets/art/physical/Equinox.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">"Equinox" - Painting on my living room wall inspired by Stonehenge</p>
            </div>
            <div class="piece-of-art" data-count="12">
                    <img src="{{ asset('/assets/art/physical/Help skeletons small file.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">"Help"</p>
            </div>
            <div class="piece-of-art" data-count="13">
                    <img src="{{ asset('/assets/art/physical/Pyrmamids.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">"Solitude"</p>
            </div>
            <div class="piece-of-art" data-count="14">
                    <img src="{{ asset('/assets/art/physical/BG_exclam.jpg') }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption">"!" - Man's brain can't handle the female figure</p>
            </div>
        </div>
{#    </div>#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('packs/js/incarnateSwipeHooks.js')}}"></script>
    <script src="{{asset('packs/js/galleryCarousel.js')}}"></script>
    <script>
        const incarnateGalleryCarousel = new IncarnateGalleryCarousel('artwork','piece-of-art');
        function carouselDeploy(ev){
            IncarnateGalleryCarousel.deploy(ev,incarnateGalleryCarousel);
        }
        incarnateGalleryCarousel.items.forEach(element=>{
            element.addEventListener('click',carouselDeploy);
        });
    </script>
{% endblock %}
