{% extends 'base.html.twig' %}

{% block title %}Art{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/style/Gallery.css') }}">
{% endblock %}
{% block body %}
{#    <div class="inc-bg-black inc-nudge-l1">#}
        <h1 class="inc-text-light ml-4">Art</h1>
        <div class="d-flex flex-row flex-wrap artwork">
            {% for key, art in artwork %}
                <div class="piece-of-art" data-count="{{ key }}">
                    <img src="{{ asset(vich_uploader_asset(art,'fileFile')) }}" class="d-block img-fluid mx-auto">
                    <p class="art-caption"><strong>"{{ art.name1 }}"</strong>{% if art.description1 %} - {{ art.description1|change_return_to_break|raw }}{% endif %}</p>
                </div>
            {% endfor %}
        </div>
{#    </div>#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('packs/js/incarnateSwipeHooks.js')}}"></script>
    <script src="{{asset('packs/js/galleryCarousel.js')}}"></script>
    <script>
        const incarnateGalleryCarousel = new IncarnateGalleryCarousel('artwork','piece-of-art');
        function carouselDeploy(ev){
            IncarnateGalleryCarousel.deploy(ev,incarnateGalleryCarousel);
        }
        incarnateGalleryCarousel.items.forEach(element=>{
            element.addEventListener('click',carouselDeploy);
        });
    </script>
{% endblock %}
