{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/style/Form.css') }}">
{% endblock %}

{% block body %}

    {{ form_start(bookForm) }}
    <h2>New Book</h2>
        {{ form_widget(bookForm) }}
    <button class="btn my-2">Create Book</button>
    {{ form_end(bookForm) }}
{% endblock %}
