{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/style/Form.css') }}">
{% endblock %}

{% block body %}

    {{ form_start(merchandiseForm) }}
    <h2>New Merchandise</h2>
        {{ form_widget(merchandiseForm) }}
    <button class="btn my-2">Create Merchandise</button>
    {{ form_end(merchandiseForm) }}
{% endblock %}
