{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/style/Form.css') }}">
{% endblock %}

{% block body %}

    {{ form_start(seriesForm) }}
        {{ form_widget(seriesForm) }}
    <button class="btn my-2">Create Series</button>
    {{ form_end(seriesForm) }}
{% endblock %}
