{% extends 'base.html.twig' %}

{% block title %}Stories{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/style/Stories.css') }}">
{% endblock %}
{% block body %}
    <h2>Writing science fiction turns out to be a lot of fun!</h2>
    <h3>Below are the covers of all of my books</h3>
    <p>(Click on a cover for more information)</p>
    <div class="d-flex flex-column">
    {% for serial in series %}
        <div class="d=flex flex-column">
            <h4>{{ serial.name }}</h4>
            <p>{{ serial.description }}</p>
            <div class="inc-flex-orientation">
                <div class="books d-flex flex-wrap">
                    {% for book in serial.books %}
                        <div class="inc-book-image">
                            <a href="{{ book.AmazonLink }}">
                                <img src="{{ vich_uploader_asset(book,'imageFile') }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="merchandise d-flex flex-wrap">
                    {% for merchandise in serial.merchandise %}
                        <div class="inc-book-image">
                            <img src="{{ vich_uploader_asset(merchandise,'imageFile') }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
