{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/style/StoriesV2.css') }}">
{% endblock %}
{% block body_indentation %}
    {% if updates|length > 0 %}
        <div class="inc-bg-snow emphasis-paragraph">
            {% for update in updates %}
                <div class="pl-4 pt-3 pb-2 story-emphatic"{% if update.fontSize or update.fontColor%} style="{% if update.fontSize %}font-size:{{ update.fontSize }}em;{% endif %}{% if update.fontColor %}color:{{ update.fontColor }};{% endif %}{% endif %}"><strong>{% if update.book %}<a class="" href="{{ update.book.amazonLink }}"{% if update.fontColor %} style="color:{{ update.fontColor }};"{% endif %}>{{ update.book.name }}</a> {% endif %}{{ update.description }}{% if update.closeDescription %} {% if update.closeLink %}<a class="" href="{{ update.closeLink }}"{% if update.fontColor %} style="color:{{ update.fontColor }};"{% endif %}>{% endif %}{{ update.closeDescription }}{% if update.closeLink %}</a>{% endif %}{% endif %}</strong></div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="inc-indentation mt-2">
        <div class="d-flex inc-flex-orientation">
            <div class="p-1">
                <h3>Here are quick links to information about each of my series.</h3>
                <div class="d-flex flex-row flex-wrap">
                    {% for serial in series %}
                        <a href="{{ path('app_serial',{'id':serial.id}) }}">
                            <button class="btn inc-bg-ldahners7 m-2">{{ serial.name }}</button>
                        </a>
                    {% endfor %}
                </div>
                <h3>Below are the covers of all of my books</h3>
                <p>(Click on a cover to go to the store or the about button for more information)</p>
            </div>
        </div>
        <div class="d-flex flex-column">
        {% for serial in series %}
            <div class="d=flex flex-column">
                <h4>{{ serial.name }} <a href="{{ path('app_serial',{'id':serial.id}) }}" class="ml-2"><btn class="btn inc-bg-ldahners7 text-dark">Review of Series</btn></a></h4>
                <p>{{ serial.description }}</p>
                <div class="inc-flex-orientation">
                    <div class="books d-flex flex-wrap">
                        {% for book in serial.books|sort((a, b) => a.OrderInSeries <=> b.OrderInSeries) %}
                            <div class="inc-book-image">
                                <a href="{{ book.AmazonLink }}">
                                    <img src="{{ vich_uploader_asset(book,'imageFile') }}">
                                </a>
                                <a href="{{ path('app_story',{'id':book.id}) }}">
                                    <button class="btn inc-bg-ldahners7 mx-auto d-block mt-2">About</button>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="merchandise">
                        {% for merchandise in serial.merchandise %}
                            <div class="merch-item">
                                <h4>{{ merchandise.name }}</h4>
                                <p>{{ merchandise.description|change_return_to_break|raw }}</p>
                                <a href="{{ merchandise.link }}">
                                    <div class="inc-book-image">
                                        <img src="{{ vich_uploader_asset(merchandise,'imageFile') }}">
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        <div class="inc-flex-grow"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
