{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/style/Stories.css') }}">
{% endblock %}
{% block body %}
    <h2>Writing science fiction turns out to be a lot of fun!</h2>
    <h3>Below are the covers of all of my books</h3>
    <p>(Click on a cover to go to the store or the about button for more information)</p>
    <div class="d-flex flex-column">
    {% for serial in series %}
        <div class="d=flex flex-column">
            <h4>{{ serial.name }}</h4>
            <p>{{ serial.description }}</p>
            <div class="inc-flex-orientation">
                <div class="books d-flex flex-wrap">
                    {% for book in serial.books|sort((a, b) => a.OrderInSeries <=> b.OrderInSeries) %}
                        <div class="inc-book-image">
                            <a href="{{ book.AmazonLink }}">
                                <img src="{{ vich_uploader_asset(book,'imageFile') }}">
                            </a>
                            <a href="{{ path('app_story',{'id':book.id}) }}">
                                <button class="btn inc-bg-ldahners7 mx-auto d-block mt-2">About</button>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="merchandise">
                    {% for merchandise in serial.merchandise %}
                        <div class="merch-item">
                            <h4>{{ merchandise.name }}</h4>
                            <p>{{ merchandise.description }}</p>
                            <a href="{{ merchandise.link }}">
                                <div class="inc-book-image">
                                    <img src="{{ vich_uploader_asset(merchandise,'imageFile') }}">
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    <div class="inc-flex-grow"></div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
