{% extends 'base.html.twig' %}

{% block title %}Charity Surgery{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/style/Gallery.css') }}">
{% endblock %}
{% block body %}
    <h1>Charity Surgery</h1>
    <div class="top-section row">
        <div class="col-md-4">
            <div class="piece-of-art">
                <img src="{{ asset('/assets/images/charity/Soma, Mac operating edited bkgrnd out.jpg') }}" class="img-fluid mx-auto">
                <p class="art-caption">Soma and Mac operating</p>
            </div>
            <div class="piece-of-art">
                <img src="{{ asset('/assets/images/charity/Sunset from doghouse.jpg') }}" class="img-fluid mx-auto">
            </div>
            <div>
                <h2>Official TarHawk Trip Reports</h2>
            </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('packs/js/galleryCarousel.js')}}"></script>
    <script>
        const Carousel = new IncarnateGalleryCarousel('artwork','piece-of-art');
        function carouselDeploy(ev){
            IncarnateGalleryCarousel.deploy(ev,Carousel.carousel,'piece-of-art');
        }
        Carousel.items.forEach(element=>{
            element.addEventListener('click',carouselDeploy);
        });
    </script>
{% endblock %}

