{% extends 'base.html.twig' %}

{% block title %}Charity Surgery{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/style/Gallery.css') }}">
{% endblock %}
{% block body %}
    <h1>Charity Surgery</h1>
    <div class="top-section row">
        <div class="col-md-4 artwork">
            <div class="piece-of-art" data-count="0">
                <img src="{{ asset('/assets/images/charity/Soma, Mac operating edited bkgrnd out.jpg') }}" class="img-fluid mx-auto">
                <p class="art-caption">Soma and Mac operating</p>
            </div>
            <div class="piece-of-art" data-count="1">
                <img src="{{ asset('/assets/images/charity/Sunset from doghouse.jpg') }}" class="img-fluid mx-auto">
                <p class="art-caption">Sunset from Doghouse</p>
            </div>
            <div>
                <h2>Official TarHawk Trip Reports</h2>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2003-Orthopedic Mission to Jinotega.pdf') }}">#1 Orthopedic Mission to Jinotega 2003</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2004-Orthopedic Mission to Jinotega.pdf') }}">#2 Orthopedic Mission to Jinotega 2004</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2005-01-Orthopedic Mission to Jinotega.pdf') }}">#3 Orthopedic Mission to Jinotega January 2005</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2005-03-Orthopedic Mission to Jinotega.pdf') }}">#4 Orthopedic Mission to Jinotega March 2005</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2006-01-Orthopedic Mission to Jinotega.pdf') }}">#5 Orthopedic Mission to Jinotega January 2006</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2006-08-Orthopedic Mission to Jinotega.pdf') }}">#6 Orthopedic Mission to Jinotega August 2006</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2007-01-Orthopedic Mission to Jinotega.pdf') }}">#7 Orthopedic Mission to Jinotega January 2007</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2007-08-Orthopedic Mission to Jinotega.pdf') }}">#8 Orthopedic Mission to Jinotega August 2007</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2008-01-Orthopedic Mission to Jinotega.pdf') }}">#9 Orthopedic Mission to Jinotega January 2008</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2008-08-Orthopedic Mission to Jinotega.pdf') }}">#10 Orthopedic Mission to Jinotega August 2008</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2009-01-Orthopedic Mission to Jinotega.pdf') }}">#11 Orthopedic Mission to Jinotega January 2009</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2009-08-Orthopedic Mission to Jinotega.pdf') }}">#12 Orthopedic Mission to Jinotega August 2009</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2010-01-Orthopedic Mission to Jinotega.pdf') }}">#13 Orthopedic Mission to Jinotega January 2010</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2010-08-Orthopedic Mission to Jinotega.pdf') }}">#14 Orthopedic Mission to Jinotega August 2010</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2011-01-Orthopedic Mission to Jinotega.pdf') }}">#15 Orthopedic Mission to Jinotega January 2011</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2011-09-Orthopedic Mission to Jinotega.pdf') }}">#16 Orthopedic Mission to Jinotega September 2011</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2012-01-Orthopedic Mission to Jinotega.pdf') }}">#17 Orthopedic Mission to Jinotega January 2012</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/2012-09-Orthopedic Mission to Jinotega.pdf') }}">#18 Orthopedic Mission to Jinotega September 2012</a></p>
                <p><a href="{{ asset('assets/documents/tarhawkReports/pdf/TarHawks Letter head .pdf') }}">TarHawks Letter head</a></p>
            </div>
        </div>
        <div class="col-md-4 artwork">
            <p>This page is about the mission trips of the "TarHawks," (UNC & Kansas) a group of Orthopedic Surgeons, Orthopedic Residents, Anesthesiologists, Anesthetists, Nurses, Surgical Technicians and other volunteers who have made a number of trips to Jinotega, Nicaragua to perform charity surgeries originally under the auspices of <a href="http://projecthealthforleon.org/">Project Health for Leon</a> and then starting in August 2010 under the auspices of the <a href="http://www.dd-clinic.com/ddfoundation.shtml">Dickson-Diveley Orthopaedic Foundation</a>.</p>
            <div class="piece-of-art" data-count="2">
                <img src="{{ asset('/assets/images/charity/TarHawk.jpg') }}" class="img-fluid mx-auto">
            </div>
            <div class="piece-of-art" data-count="3">
                <img src="{{ asset('/assets/images/charity/composite of all Jinotega.jpg') }}" class="img-fluid mx-auto">
                <p class="art-caption">Jinotega Nicargua</p>
            </div>
            <div class="piece-of-art" data-count="4">
                <img src="{{ asset('/assets/images/charity/Jan, Mac, Laury, Carrol in scrubs.jpg') }}" class="img-fluid mx-auto">
                <p class="art-caption">Jan Leo, Gerry McNamara, Laury Dahners and Carroll Jones on the first trip to Jinotega in January 2003</p>
            </div>
            <div class="piece-of-art" data-count="5">
                <img src="{{ asset('/assets/images/charity/countryside.jpg') }}" class="img-fluid mx-auto">
                <p class="art-caption">The local countryside</p>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('packs/js/galleryCarousel.js')}}"></script>
    <script>
        const Carousel = new IncarnateGalleryCarousel('artwork','piece-of-art');
        function carouselDeploy(ev){
            IncarnateGalleryCarousel.deploy(ev,Carousel.carousel,'piece-of-art');
        }
        Carousel.items.forEach(element=>{
            element.addEventListener('click',carouselDeploy);
        });
    </script>
{% endblock %}

