{% extends 'base.html.twig' %}

{% block title %}Instrumental Music{% endblock %}

{% block body %}
<div class="full-width-block ml-1">
    <h1>Instrumental Music</h1>
</div>
<button class="btn inc-bg-ldahners7 inc-button-color mx-auto inc-autoplay-toggle d-block mb-3">Turn Next Song Autoplay Off</button>
<div class="row">
    <div class="inc-col-md-6 inc-bg-ldahners3-dark px-4 inc-left-pane">
        <h2>Audio Files</h2>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Abandon Me.mp3') }}">Abandon Me</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Abandon Me.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/August - by laury dahners - s.mp3') }}">August</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/August - by laury dahners - s.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Balla.mp3') }}">Ballan</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Balla.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/ClassicalRok.mp3') }}">Classical Rok</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/ClassicalRok.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Dreamon.mp3') }}">Dreamon</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Dreamon.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Epiatr.mp3') }}">Epiatr</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Epiatr.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Frost Pachrev.mp3') }}">Frost</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Frost Pachrev.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/laibakC.mp3') }}">Laibok</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/laibakC.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Latiti.mp3') }}">Latiti</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Latiti.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Mallow.mp3') }}">Mallow</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Mallow.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset("/assets/music/instrumental/mp3/Mickey's Mountain.mp3") }}">Mickey's Mountain</a></strong></p>
            <audio controls><source src="{{ asset("/assets/music/instrumental/mp3/Mickey's Mountain.mp3") }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Mystic Flow instrumental.mp3') }}">Mystic Flow</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Mystic Flow instrumental.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Pachalbel canon variation.mp3') }}">Pachalbel Canon (var)</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Pachalbel canon variation.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/pachinsp.mp3') }}">Pachinsp</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/pachinsp.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Shakubaa.mp3') }}">Shakubaa</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Shakubaa.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Storming Water.mp3') }}">Storming Water</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Storming Water.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/SussSongDelgaizo.mp3') }}">Sussong</a></strong> - Lead guitar by Dan Delgaizo</p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/SussSongDelgaizo.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Timeless Strum.mp3') }}">Timeless Strum</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Timeless Strum.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Timeless Wind.mp3') }}">Timeless Wind</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Timeless Wind.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Tribal Stomp.mp3') }}">Tribal Stomp</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Tribal Stomp.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Wahment.mp3') }}">Wahment</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Wahment.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset("/assets/music/instrumental/mp3/Walkin' the Gtrump.mp3") }}">Walkin' the Gtrump</a></strong></p>
            <audio controls><source src="{{ asset("/assets/music/instrumental/mp3/Walkin' the Gtrump.mp3") }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
        <div class="audio-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp3/Youtiful.mp3') }}">Youtiful</a></strong></p>
            <audio controls><source src="{{ asset('/assets/music/instrumental/mp3/Youtiful.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
        </div>
    </div>
    <div class="inc-col-md-6 px-4 inc-bg-ldahners5-dark inc-right-pane">
        <h2>Music Videos</h2>
        <div class="video-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp4/A Day in Africa 512kbps.mp4') }}">A Day in Africa</a></strong></p>
            <video controls class="incarnate-video-2">
                <source src="{{ asset('/assets/music/instrumental/mp4/A Day in Africa 512kbps.mp4') }}" type="video/mp4">
                Your Browser does not support the video tag.
            </video>
        </div>
        <div class="video-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp4/Latiti 512kbps.mp4') }}">Latiti</a></strong></p>
            <video class="incarnate-video-2" controls>
                <source src="{{ asset('/assets/music/instrumental/mp4/Latiti 512kbps.mp4') }}" type="video/mp4">
                Your Browser does not support the video tag.
            </video>
        </div>
        <div class="video-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp4/Polar Wahment 512 kbps.mp4') }}">Polar Wahment</a></strong></p>
            <video class="incarnate-video-2" controls>
                <source src="{{ asset('/assets/music/instrumental/mp4/Polar Wahment 512 kbps.mp4') }}" type="video/mp4">
                Your Browser does not support the video tag.
            </video>
        </div>
        <div class="video-container">
            <p><strong><a href="{{ asset('/assets/music/instrumental/mp4/Wilderness and Water 512kbps.mp4') }}">Wilderness and Water</a></strong></p>
            <video class="incarnate-video-2" controls>
                <source src="{{ asset('/assets/music/instrumental/mp4/Wilderness and Water 512kbps.mp4') }}" type="video/mp4">
                Your Browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('packs/js/autoPlay.js') }}"></script>
    <script>
        IncarnateColorTryer.build('inc-left-pane','background-color','Left Pane Background');
        IncarnateColorTryer.build('inc-right-pane','background-color','Right Pane Background');
    </script>
{% endblock %}
