{% extends 'base.html.twig' %}

{% block title %}Instrumental Music{% endblock %}

{% block body_indentation %}
<div class="full-width-block ml-1">
    <h1>Instrumental Music</h1>
</div>
<button class="btn inc-bg-ldahners7 inc-button-color mx-auto inc-autoplay-toggle d-block mb-3">Turn Next Song Autoplay Off</button>
<div class="inc-row w-100">
    <div class="inc-col-md-6 inc-bg-ldahners3-dark px-4 inc-left-pane">
        <h2>Audio Files</h2>
        {% for song in audio  %}
            <div class="audio-container">
                <p><strong><a href="{{ asset(vich_uploader_asset(song,'fileFile')) }}">{{ song.name1 }}</a></strong>{% if song.description1|length > 0 %} - {{ song.description1|change_return_to_break|raw }}{% endif %}</p>
                <audio controls><source src="{{ asset(vich_uploader_asset(song,'fileFile')) }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
        {% endfor %}
    </div>
    <div class="inc-col-md-6 px-4 inc-bg-ldahners5-dark inc-right-pane">
        <h2>Music Videos</h2>
        {% for song in video %}
        <div class="video-container">
            <p><strong><a href="{{ asset(vich_uploader_asset(song,'fileFile')) }}">{{ song.name1 }}</a></strong>{% if song.description1|length > 0 %} - {{ song.description1|change_return_to_break|raw }}{% endif %}</p>
            <video controls class="incarnate-video">
                <source src="{{ asset(vich_uploader_asset(song,'fileFile')) }}" type="video/mp4">
                Your Browser does not support the video tag.
            </video>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('packs/js/autoPlay.js') }}"></script>
    <script>
        // IncarnateColorTryer.build('inc-left-pane','background-color','Left Pane Background');
        // IncarnateColorTryer.build('inc-right-pane','background-color','Right Pane Background');
    </script>
{% endblock %}
