{% extends 'base.html.twig' %}

{% block title %}Songs{% endblock %}

{% block body %}
    <div class="full-width-block ml-1">
        <h1>Songs</h1>
        <p>These are all songs that I have written, many of them made much better by the help of people who record with me (my thanks to Peter Barkley, Emmanuel Kembe, Joel Keel, Mickey Mills, Robert Martin, Andy Stavas, Bernard Stokes). They have offered suggestions and added performances which have greatly improved the final versions.</p>
    </div>
    <button class="btn inc-bg-ldahners7 inc-button-color mx-auto inc-autoplay-toggle d-block">Turn Autoplay Off</button>
    <div class="row">
        <div class="col-md-6 inc-bg-ldahners3-dark px-4 inc-left-pane">
            <h2>Audio Files</h2>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Innocents Suffer- a capella.mp3') }}">Innocents Suffer (a capella)</a></strong> - A funeral song</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Innocents Suffer- a capella.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Absent Friends, Joel.mp3') }}">Absent Friends</a></strong> - For those no longer with us.</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Absent Friends, Joel.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Babylon.mp3') }}">Babylon</a></strong> - Getting away from the rush of civilization ("Babylon" in the Reggae metaphor)</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Babylon.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Before You Teach.mp3') }}">Before You Teach</a></strong> - You must have learned yourself</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Before You Teach.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Breathin the Same Air Youtiful.mp3') }}">Breathin' the Same Air</a></strong> - If we could only get along</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Breathin the Same Air Youtiful.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Crazy Road.mp3') }}">Crazy Road</a></strong> - Life is a strange journey</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Crazy Road.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Dancin by the Bay Dance version w Bernard.mp3') }}">Dancin' by the Bay</a></strong> - Reggae about dancin' for fun</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Dancin by the Bay Dance version w Bernard.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Far Away Lands.mp3') }}">Far Away Lands</a></strong> - Strife around the world</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Far Away Lands.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Fleeting Moment Joel.mp3') }}">Fleeting Moment</a></strong> - A mystical event</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Fleeting Moment Joel.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Freedom Dream.mp3') }}">Freedom Dream</a></strong> - A protest against slavery in Sudan</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Freedom Dream.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Grace Joel.mp3') }}">Grace</a></strong> - Fall from grace with only a memory of her face</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Grace Joel.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Invincible.mp3') }}">Invincible</a></strong> - Young men think nothing can hurt them</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Invincible.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Killer on the Loose.mp3') }}">Killer on the Loose</a></strong> - AIDS</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Killer on the Loose.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Lords Prayer.mp3') }}">Lord's Prayer</a></strong> - Nuff said</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Lords Prayer.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Loved and Lost.mp3') }}">Loved and Lost</a></strong> - Better than to have never loved at all</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Loved and Lost.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Misty Morning.mp3') }}">Misty Morning</a></strong> - Burying the hatchet with an old friend</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Misty Morning.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Money Joel.mp3') }}">Money</a></strong> - Reggae about pain in chasing the dollar</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Money Joel.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/My Exultation - Joel.mp3') }}">My Exultation</a></strong> - What a pretty girl can do to your heart</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/My Exultation - Joel.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Mystic Flow.mp3') }}">Mystic Flow</a></strong> - Burying the hatchet with an old friend</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Mystic Flow.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Noras Song.mp3') }}">Nora's Song</a></strong> - My wife, my best friend</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Noras Song.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/The Rage Inside.mp3') }}">Rage Inside</a></strong> - Living in the storm</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/The Rage Inside.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Sail Away.mp3') }}">Sail Away</a></strong> - Ah, the seafaring life</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Sail Away.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Sam Ash-s.mp3') }}">Sam Ash</a></strong> - What if all the "noodling" players in a music store got together?</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Sam Ash-s.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Seven Simple Stones.mp3') }}">Seven Simple Stones</a></strong> - We go elsewehre to do good things but sometimes bad things happen</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Seven Simple Stones.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Waiting for Peace.mp3') }}">Waiting for Peace</a></strong> - Will war never stop?</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Waiting for Peace.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Wouldja teach me to dance.mp3') }}">Would'ja Teach Me to Dance</a></strong> - If only I hadn't been too shy to dance!</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Wouldja teach me to dance.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/When I Was a Warrior-s pop version.mp3') }}">When I Was a Warrior</a></strong> - Our appreciation of our soldiers is fleeting</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/When I Was a Warrior-s pop version.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/When You Have a Chance.mp3') }}">When You Have a Chance</a></strong> - A random act of kindness</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/When You Have a Chance.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Un Esfuerzo Mas END.mp3') }}">Un Esfuerzo Mas</a></strong> - Lyrics by Felix Balladeres Zamora, sung by <a href="http://elene.dahners.com/">Elene Dahners</a> about our <a href="{{ path('app_charity') }}">charity surgery</a> in Jinotega Nicaragua. Elene also sang in <a href="http://wolfgang.dahners.com/">Wolfgang</a>, an a capella group at NCSU</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Un Esfuerzo Mas END.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Years Tumble By.mp3') }}">Years Tumble By</a></strong> - A life spent in wishing</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Years Tumble By.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Young Man.mp3') }}">Young Man</a></strong> - A response to Neil Young's "Old Man"</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Young Man.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
            <div class="audio-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp3/Your Day -by laury dahners -s.mp3') }}">Your Day</a></strong> - A song for a daughter's wedding</p>
                <audio controls><source src="{{ asset('/assets/music/songs/mp3/Your Day -by laury dahners -s.mp3') }}" type="audio/mp3">Your browser does not support the audio tag</audio>
            </div>
        </div>
        <div class="col-md-6 px-4 inc-right-pane inc-bg-ldahners5-dark">
            <h2>Music Videos</h2>
            <div class="video-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp4/Babylon 512kbps.mp4') }}">Babylon</a></strong> - Performed by local reggae artist Micky Mills</p>
                <video class="incarnate-video" controls>
                    <source src="{{ asset('/assets/music/songs/mp4/Babylon 512kbps.mp4') }}" type="video/mp4">
                    Your Browser does not support the video tag.
                </video>
            </div>
            <div class="video-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp4/Pray for New York 512kbps.mp4') }}">Pray for New York</a></strong> - About 9/11 by Emamanuel Kembe</p>
                <video class="incarnate-video" controls>
                    <source src="{{ asset('/assets/music/songs/mp4/Pray for New York 512kbps.mp4') }}" type="video/mp4">
                    Your Browser does not support the video tag.
                </video>
            </div>
            <div class="video-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp4/Skinny Boy 512kbps.mp4') }}">Skinny Boy</a></strong> - About child warriors in Africa performed by Emmanuel Kembe</p>
                <video class="incarnate-video" controls>
                    <source src="{{ asset('/assets/music/songs/mp4/Skinny Boy 512kbps.mp4') }}" type="video/mp4">
                    Your Browser does not support the video tag.
                </video>
            </div>
            <div class="video-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp4/Waiting for Peace 512 kbps.mp4') }}">Waiting for Peace</a></strong> - Performed by Emmanuel Kembe</p>
                <video class="incarnate-video" controls>
                    <source src="{{ asset('/assets/music/songs/mp4/Waiting for Peace 512 kbps.mp4') }}" type="video/mp4">
                    Your Browser does not support the video tag.
                </video>
            </div>
            <div class="video-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp4/Smile 512 kbps.mp4') }}">Smile</a></strong> - About the <a href="{{ path('app_charity') }}">charity surgery</a> of <a href="https://www.operationsmile.org/">Operation Smile</a></p>
                <video class="incarnate-video" controls>
                    <source src="{{ asset('/assets/music/songs/mp4/Smile 512 kbps.mp4') }}" type="video/mp4">
                    Your Browser does not support the video tag.
                </video>
            </div>
            <div class="video-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp4/Shen Shen 512kbps.mp4') }}">Shen Shen</a></strong> - This is Kembe's video about the war in Sudan, I only helped shoot and edit the video, the song is entirely his.</p>
                <video class="incarnate-video" controls>
                    <source src="{{ asset('/assets/music/songs/mp4/Shen Shen 512kbps.mp4') }}" type="video/mp4">
                    Your Browser does not support the video tag.
                </video>
            </div>
            <div class="video-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp4/Lovers in a Dangerous Time 512kbps.mp4') }}">Lovers in a Dangerous Time</a></strong> - From a live concert by Emmanuel Kembe at the Cat's Cradle in Carroboro NC, about what it is like to love in a time of war</p>
                <video class="incarnate-video" controls>
                    <source src="{{ asset('/assets/music/songs/mp4/Lovers in a Dangerous Time 512kbps.mp4') }}" type="video/mp4">
                    Your Browser does not support the video tag.
                </video>
            </div>
            <div class="video-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp4/Hero 256kbps.mp4') }}">Hero</a></strong> - This is Kembe's video about Dr. John Garandd, the assassinated leader of South Sudan</p>
                <video class="incarnate-video" controls>
                    <source src="{{ asset('/assets/music/songs/mp4/Hero 256kbps.mp4') }}" type="video/mp4">
                    Your Browser does not support the video tag.
                </video>
            </div>
            <div class="video-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp4/Calypso Country.mp4') }}">Calypso Country</a></strong> - Regae artist Rolly Gray thinks about crossing over to Country Music</p>
                <video class="incarnate-video" controls>
                    <source src="{{ asset('/assets/music/songs/mp4/Calypso Country.mp4') }}" type="video/mp4">
                    Your Browser does not support the video tag.
                </video>
            </div>
            <div class="video-container">
                <p><strong><a href="{{ asset('/assets/music/songs/mp4/Dancing by the Bay 512 kbps.mp4') }}">Dancing by the Bay</a></strong> - Regae cartoon about dancin' for fun</p>
                <video class="incarnate-video" controls>
                    <source src="{{ asset('/assets/music/songs/mp4/Dancing by the Bay 512 kbps.mp4') }}" type="video/mp4">
                    Your Browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('packs/js/autoPlay.js') }}"></script>
    <script>
        IncarnateColorTryer.build('inc-left-pane','background-color','Left Pane Background');
        IncarnateColorTryer.build('inc-right-pane','background-color','Right Pane Background');
    </script>
{% endblock %}
